GenerateDatas/
Ignore/
Tools/LubanTools
Tools/Generata Tools/SourceGenerator/SourceGenerator/bin
UnityPackage/*.unitypackage
GameConfig/Tools/LubanTools/

*.vs
*.idea
*.dotnet


#Generata Tools
Tools/Generata Tools/SourceGenerator/*/*bin
Tools/Generata Tools/SourceGenerator/*/*obj
Tools/Generata Tools/SourceGenerator/*.DotSettings.user

path_define.bat
path_define.sh